#main-content {
   text-align: center;
}

/* Recipes page*/
#searchResults {
   text-align: left;
}
/* contactus.php*/
#contactContent h1 {
   text-align: center;
}

/* index.php logged in*/
#stepOne {
   padding: 5px;
}

#stepNumber {
   float: left;
   width: 45px;
}
#stepInstructions {
   height: 100px;
   overflow: hidden;
}
#stepsContent {
   background-color: #16a950;
   min-height: 100px;
   overflow: hidden;
   padding: 10px 0 10px 15px;
}

#stepsContent .steps {
   float:left; 
   margin: 10px 0 15px 20px; 
   width: 250px;
   height: 113px;
   background:#FFFFFF; 
   padding:5px 5px 27px 5px;
   
}
#stepsContent .steps:first-child {
   margin-left: 28px;
}

/* index.php logged in and recipes.php*/
#suggestedRecipes {
   margin: 10px 0 0 0;
   min-height: 100px;
   overflow: hidden;
   padding: 10px 0 10px 15px;
   background:#0099CC; 
}

#suggestedRecipes .recipe {
   float:left; 
   margin: 10px 0 15px 20px; 
   width: 245px;
   height: 240px;
   
   background:#FFFFFF; 
   padding:10px 0 5px 0;
}
#suggestedRecipes .recipe:first-child {
   margin-left: 28px;
}

/*changes the button text to white*/
.btn-default {
    color: #FFFFFF !important;
}