#main-content {
   border:solid thin green;
   text-align: center;
}

#stepOne {
}

#stepNumber {
   border: solid thin blue;
   float: left;
   width: 45px;
}
#stepInstructions {
   border: solid thin red;
   height: 100px;
   overflow: hidden;
}
#stepsContent {
   margin: auto;
   border: solid thick red;
   
   min-height: 100px;
   overflow: hidden;
   padding: 10px 0 10px 10px;
}

#stepsContent .steps {
   float:left; 
   margin: 0 0 0 20px; 
   min-width: 245px;
   max-width: 245px;
   /**width: 30%; **/
   height: 100px;
   background:#CBC5C4; 
   padding:0 0 27px 0;
   
}
#stepContent .steps:first-child {
   margin:0;
   padding: 0;
   
}