/*written by Paul Gauci s3529106 2016. This is the styling for the modal-like */
/*confirmation window when the user saves their meal planner data. */

#success-modal {
	position: fixed;
	top:0;
	width: 100%;
	left:0;
	height:100%;
   background:rgba(0,0,0,0.7);
	z-index:999;
}

#success-box {
  top: 50%;
  left: 40%;
  position: absolute;
  width: 500px;
  height: 130px;
  z-index: 99;
  margin: -100px 0 0 -150px;
  background: white;
  text-align:center;
  border-radius: 5px;
}

p{
  font-size:1.5em;
}