/*style sheet 

Jane Geard: sources of information for the following image styles and header 
navigation styles:
http://www.w3schools.com/css/css_rwd_images.asp
https://www.lynda.com/Bootstrap-tutorials/Offsetting-columns/417641/429432-4.html
http://www.w3schools.com/cssref/pr_margin.asp
*/


@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic);

*{
   font-family: 'Poppins', sans-serif;    
}

h1,h2,h3,h4,h5,h6{
   font-family: 'Roboto', sans-serif;
}


/*image styles*/
.logo {
  max-width: 150px;
  height: auto;
  display: block;
  margin-top: -7px;   /* http://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo
                       Align the logo with the navbar
                       */
  
   }

/*header navigation styles 

changes the login in /sign up text links to white*/

.navbar-link {
   color: #FFFFFF !important;
}

.navbar-text {
   color: #FFFFFF !important;
}

/*changes the navigation menu to blue removes bottom margin caused by jumbotron*/

.navbar {
   background-color: #555599 !important;
   margin-bottom: 0 !important;
 
}

/*remove the negative margin on the far right navigation items */

@media (min-width: 768px) {
.navbar-right {
   margin-right: 0px !important;
   }
}

/*changes the nav text to white*/

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF !important;
}


/*changes the nav text to black on hover*/

.navbar-default .navbar-nav > li > a:hover {
    color: #000000 !important;
    background-color: transparent !important;
}

/*changes the active nav menu item to dark blue */

.navbar-default .navbar-nav>.active>a {
   
   background-color: #1D1D62 !important;
}


/* To stop footer overlapping content. 
source: http://stackoverflow.com/questions/26336190/bootstrap-sticky-footer-overlapping-content
*/

body {
    padding-bottom: 70px;
}


/*footer styles

changes the footer to green */

.footer {
   background-color:#555599 !important;

}

/* button styles*/

/*all buttons have red background with grey border*/
.btn, .btn-primary{
   background-color:#ff0000;
   border:1px solid #787878 !important;
}

/*changes the button text to white*/
.btn>a {
    color: #FFFFFF !important;
}

/*button hover state*/
.btn:hover, .btn-primary:hover{
   background:#C60000;
}

/*button active & focus state*/
.btn-primary:active, .btn:active, .btn-primary:focus, .btn:focus{
   background:#950000 !important;
}


/*sidebar styles*/
/*adds padding taken away for jumbotron*/    
    
#sidebar {
   
   padding-top: 20px !important;
   
}

/* main content styles*/

.jumbotron{
   background-color: #FFFFFF;  
}


/*provides additional padding between the main content headings and the search bar*/
   
.col-sm-9 {
   padding-left: 20px !important;
}

/*provides additional screen space*/

.container {
   padding-left: 0 !important;
   padding-right: 0 !important;
}


/*Pushes the text to the top of the div*/

#register h2{
   margin-top:0 !important;
   
}



